.label {
  display: block;
  margin-bottom: 10px;
}

.file-div {
  border: 1px dashed #262626;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  position: relative;
}

.progress-div {
  text-align: center;
  position: absolute;
  left: 47%;
}

.file-label::after {
  display: inline;
  content: " *";
  vertical-align: top;
  color: rgb(217, 28, 41);
}
