.label {
  display: block;
  margin-bottom: 10px;
}

.file-div {
  border: 1px dashed #262626;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  position: relative;
}

.file-display {
  border: 0.0625rem solid rgb(207, 207, 207);
  border-radius: calc(0.25rem);
  background-color: rgb(255, 255, 255);
  padding: calc(0.25rem);
  min-height: 3rem;
}

.file-name {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
