.psdk-utility {
  width: 100%;
  padding: 0.625rem 0rem;
  text-align: left;
  background-color: white;
  border-radius: 0.6125rem;
  margin: 0.3125rem 0rem;
  position: relative;
}

.psdk-header {
  display: flex;
  align-items: center;
}

.psdk-utility-card-svg-icon {
  width: 1.4rem;
  display: inline-block;
}

.header-text {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px 5px;
}

.psdk-utility-count {
  background: #65b5f5;
  border-radius: calc(1.125 * 0.5rem);
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  width: 1.125rem;
}
