@import '/node_modules/govuk-frontend/dist/govuk/all.scss';
@import 'node_modules/hmrc-frontend/hmrc/components/header/_header.scss';
@import 'node_modules/hmrc-frontend/hmrc/components/language-select/_language-select.scss';
@import 'node_modules/hmrc-frontend/hmrc/components/timeout-dialog/_timeout-dialog.scss';
@import './location-autocomplete.min.css';

.app-claimslist-tag {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.app-claimslist .govuk-summary-list__row:last-child {
  border-bottom: 0;
}

.signout-modal {
  position: absolute;
  top: 10%;
  left: 88%;
}

.display-inline-block {
  display: inline-block;
}

/* Used to improve visual display of CYA pages after BUG-7232 changes. May be removed after CYA page rework */
#Assignment
  .govuk-summary-list:not(.govuk-summary-list:has(+ :not(.govuk-summary-list))):not(:last-of-type) {
  margin-bottom: 0px;
}

.govuk-font-global {
  font-family: 'GDS Transport', arial, sans-serif;
}

span.govuk-body.govuk-\!-font-weight-bold.read-only:last-of-type {
  padding-bottom: 10px;
  display: inline-block;
}

.sectionDivStyle .content {
  align-items: flex-start;
}

div.MuiGrid-root.MuiGrid-item .govuk-summary-list:last-of-type ~ br {
  display: none;
}

.inline-block-warning {
  display: inline-block;
}

.pg-conf-bank > .govuk-summary-list__row {
  display: none;
}

.loading-spinner {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #1d70b8;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; 
}

.spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

 // TODO - Below style will be removed with US-13518 implementation.
.education-start a[href="https://www.tax.service.gov.uk/ask-hmrc/chat/child-benefit"] {
  display: none;
}

.education-start a[href="https://www.tax.service.gov.uk/ask-hmrc/chat/child-benefit"] + br {
  display: none;
}

.education-start a[href="https://www.tax.service.gov.uk/ask-hmrc/chat/child-benefit"] + br + br {
  display: none;
}

 // TODO - Above style will be removed with US-13518 implementation.


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
