@import 'node_modules/govuk-frontend/govuk/all';
@import 'node_modules/hmrc-frontend/hmrc/components/header/_header.scss';
@import 'node_modules/hmrc-frontend/hmrc/components/language-select/_language-select.scss';
@import 'node_modules/hmrc-frontend/hmrc/components/timeout-dialog/_timeout-dialog.scss';
@import './location-autocomplete.min.css';

.app-claimslist-tag {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.app-claimslist .govuk-summary-list__row:last-child {
  border-bottom: 0;
}

.signout-modal {
  position: absolute;
  top: 10%;
  left: 88%;
}

.display-inline-block {
  display: inline-block;
}

/* Used to improve visual display of CYA pages after BUG-7232 changes. May be removed after CYA page rework */
#Assignment
  .govuk-summary-list:not(.govuk-summary-list:has(+ :not(.govuk-summary-list))):not(:last-of-type) {
  margin-bottom: 0px;
}

.govuk-font-global {
  font-family: 'GDS Transport', arial, sans-serif;
}

span.govuk-body.govuk-\!-font-weight-bold.read-only:last-of-type {
  padding-bottom: 10px;
  display: inline-block;
}

.sectionDivStyle .content {
  align-items: flex-start;
}

div.MuiGrid-root.MuiGrid-item .govuk-summary-list:last-of-type ~ br {
  display: none;
}

.inline-block-warning {
  display: inline-block;
}

.app-task-list__item:after {
  content: '';
  display: block;
  clear: both;
}
.app-task-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.app-task-list__items {
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
}

.app-task-list__item {
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
  list-style: none;
}
.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}
.govuk-tag {
  display: inline-block;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1;
  padding: 5px 8px 4px;
}
.hmrc-status-tag {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}
.app-task-list__task-name {
  width: auto;
  display: block;
}

@media (min-width: 28.125em) {
  .hmrc-status-tag {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  .app-task-list__task-name {
    float: left;
  }
}
@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 0;
    line-height: 1.31579;
    margin-bottom: 60px;
  }
  .app-task-list {
    min-width: 550px;
  }
}
