@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/hmrc-frontend/hmrc/components/header/_header.scss";
@import "node_modules/hmrc-frontend/hmrc/components/language-select/_language-select.scss";

.app-claimslist-tag {
  @include govuk-media-query($from: tablet){
    float:right;
  }
}

.app-claimslist .govuk-summary-list__row:last-child{
  border-bottom: 0;
}

.signout-modal{
  position: absolute;
  top: 10%;
  left: 88%;
}
