.psdk-default-form-one-column {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(1rem);
  margin: '0 0.8em' !important;
}

.psdk-default-form-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(1rem);
}

.psdk-default-form-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(1rem);
}

.psdk-default-form-three-column .grid-column {
  grid-column: 1 / span 3;
}

.psdk-default-form-two-column .grid-column {
  grid-column: 1 / span 2;
}

.psdk-default-form-one-column .grid-column {
  grid-column: 1;
}

.psdk-default-form-instruction-text {
  padding-top: 0;
  padding-bottom: 0;
}

/* #instruction-text {
  font-size: '1.5em' !important;
  font-weight: 500 !important;
} */

#instruction-text p{
  margin: 0.5rem 0;
}
